In [391]:
import pandas as pd
import numpy as np

In [392]:
df=pd.read_csv('./data.csv')

In [393]:
df.head()

,Sr. no,id No,N. CGPA,PBI,PR1,PR2,PR3,PR4,PR5,PR6,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,1,793.0,9.35,346,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,978.0,9.19,340,A7,AA,A3,A8,A1,A4,NaN,NaN,Academic Year 2020-2021 BITS Pilani,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1055.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,982.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,Prog.,Seat for DD-I,Filled,start CGPA,End CGPA,Start PBI,End PBI
4,5,688.0,9.14,338,A7,AA,A3,A8,A4,A1,NaN,NaN,A1,37,NaN,NaN,NaN,NaN,NaN

In [394]:
df.sort_values(by=['N. CGPA'], ascending=False)

,Sr. no,id No,N. CGPA,PBI,PR1,PR2,PR3,PR4,PR5,PR6,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,1,793.0,9.35,346,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,978.0,9.19,340,A7,AA,A3,A8,A1,A4,NaN,NaN,Academic Year 2020-2021 BITS Pilani,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1055.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,982.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,Prog.,Seat for DD-I,Filled,start CGPA,End CGPA,Start PBI,End PBI
4,5,688.0,9.14,338,A7,AA,A3,A8,A4,A1,NaN,NaN,A1,37,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,284,1457.0,5.54,208,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,285,1259.0,5.51,204,A7,A4,AA,A3,A8,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285,286,679.0,5.46,202,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,288,1373.0,5.19,192,AA,A8,A3,A4,A1,A7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,289,NaN,4.81,178,A7,A3,AA,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [395]:
branch = {} 
details = {}

In [396]:
for i in range(8):
    if(int(df.iat[4+i,13]) != 0):
        branch[df.iat[4+i,12]] = int(df.iat[4+i,13])
        if(df.iat[4+i,12] != "Total"):
            details[df.iat[4+i,12]] = [0]*7
            details[df.iat[4+i,12]][6] = int(df.iat[4+i,13])

In [397]:
branch
df.rename(columns = {'Unnamed: 10':'allotment'}, inplace = True)

In [398]:
branch

{'A1': 37, 'A3': 41, 'A4': 50, 'A7': 83, 'A8': 42, 'AA': 44, 'Total': 293}

In [399]:
details

{'A1': [0, 0, 0, 0, 0, 0, 37],
 'A3': [0, 0, 0, 0, 0, 0, 41],
 'A4': [0, 0, 0, 0, 0, 0, 50],
 'A7': [0, 0, 0, 0, 0, 0, 83],
 'A8': [0, 0, 0, 0, 0, 0, 42],
 'AA': [0, 0, 0, 0, 0, 0, 44]}

In [400]:
df

,Sr. no,id No,N. CGPA,PBI,PR1,PR2,PR3,PR4,PR5,PR6,allotment,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,1,793.0,9.35,346,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,978.0,9.19,340,A7,AA,A3,A8,A1,A4,NaN,NaN,Academic Year 2020-2021 BITS Pilani,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1055.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,982.0,9.16,339,A7,AA,A3,A8,A4,A1,NaN,NaN,Prog.,Seat for DD-I,Filled,start CGPA,End CGPA,Start PBI,End PBI
4,5,688.0,9.14,338,A7,AA,A3,A8,A4,A1,NaN,NaN,A1,37,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,286,679.0,5.46,202,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,287,1260.0,5.74,201,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,288,1373.0,5.19,192,AA,A8,A3,A4,A1,A7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,289,NaN,4.81,178,A7,A3,AA,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,290,1512.0,6.14,167,A7,AA,A3,A8,A4,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [401]:
# filled || start cgpa || end cgpa || start pbi || end pbi || end id || seats

In [402]:
for ind in df.index:
    for i in range(6):
        br = df['PR' + str(i+1)][ind]
        if(branch[str(br)]>0):
            df['allotment'][ind] = br
            branch[br] = branch[br] - 1
            details[br][2] = df['N. CGPA'][ind] # end CGPA
            details[br][5] = df['id No'][ind]   # end ID
            details[br][0] = details[br][0]+1   # Seats filled
            details[br][4] = df['PBI'][ind]     # end PBI            
            if(details[br][6] == branch[br]+1):
                details[br][1] = df['N. CGPA'][ind] # start CGPA
                details[br][3] = df['PBI'][ind]     # start PBI
            print('Seats of ' + str(br) + ' are remained only ' + str(branch[str(br)]))
            break

/home/keshav/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/keshav/.local/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

Seats of A7 are remained only 82
Seats of A7 are remained only 81
Seats of A7 are remained only 80
Seats of A7 are remained only 79
Seats of A7 are remained only 78
Seats of A7 are remained only 77
Seats of A7 are remained only 76
Seats of A7 are remained only 75
Seats of A7 are remained only 74
Seats of A7 are remained only 73
Seats of A7 are remained only 72
Seats of A7 are remained only 71
Seats of A7 are remained only 70
Seats of A7 are remained only 69
Seats of A7 are remained only 68
Seats of A7 are remained only 67
Seats of A7 are remained only 66
Seats of A7 are remained only 65
Seats of A7 are remained only 64
Seats of A7 are remained only 63
Seats of A7 are remained only 62
Seats of A7 are remained only 61
Seats of A7 are remained only 60
Seats of A7 are remained only 59
Seats of A7 are remained only 58
Seats of A7 are remained only 57
Seats of A7 are remained only 56
Seats of A7 are remained only 55
Seats of A7 are remained only 54
Seats of A7 are remained only 53
Seats of A7 are remained only 52
Seats of A7 are remained only 51
Seats of A7 are remained only 50
Seats of A7 are remained only 49
Seats of A7 are remained only 48
Seats of A7 are remained only 47
Seats of A7 are remained only 46
Seats of A7 are remained only 45
Seats of A7 are remained only 44
Seats of A7 are remained only 43
Seats of A7 are remained only 42
Seats of A7 are remained only 41
Seats of A7 are remained only 40
Seats of A7 are remained only 39
Seats of A7 are remained only 38
Seats of A7 are remained only 37
Seats of A7 are remained only 36
Seats of A7 are remained only 35
Seats of A7 are remained only 34
Seats of A7 are remained only 33
Seats of A7 are remained only 32
Seats of A7 are remained only 31
Seats of A7 are remained only 30
Seats of A7 are remained only 29
Seats of A7 are remained only 28
Seats of A7 are remained only 27
Seats of A7 are remained only 26
Seats of A7 are remained only 25
Seats of A7 are remained only 24
Seats of A7 are remained only 23
Seats of A7 are remained only 22
Seats of A7 are remained only 21
Seats of A7 are remained only 20
Seats of A4 are remained only 49
Seats of A7 are remained only 19
Seats of A7 are remained only 18
Seats of A7 are remained only 17
Seats of A7 are remained only 16
Seats of A7 are remained only 15
Seats of A7 are remained only 14
Seats of A7 are remained only 13
Seats of A7 are remained only 12
Seats of A7 are remained only 11
Seats of A7 are remained only 10
Seats of A7 are remained only 9
Seats of A7 are remained only 8
Seats of A7 are remained only 7
Seats of A7 are remained only 6
Seats of A7 are remained only 5
Seats of A7 are remained only 4
Seats of A7 are remained only 3
Seats of A7 are remained only 2
Seats of A7 are remained only 1
Seats of A7 are remained only 0
Seats of AA are remained only 43
Seats of AA are remained only 42
Seats of AA are remained only 41
Seats of AA are remained only 40
Seats of AA are remained only 39
Seats of AA are remained only 38
Seats of AA are remained only 37
Seats of AA are remained only 36
Seats of AA are remained only 35
Seats of AA are remained only 34
Seats of AA are remained only 33
Seats of AA are remained only 32
Seats of AA are remained only 31
Seats of AA are remained only 30
Seats of AA are remained only 29
Seats of AA are remained only 28
Seats of AA are remained only 27
Seats of AA are remained only 26
Seats of AA are remained only 25
Seats of AA are remained only 24
Seats of AA are remained only 23
Seats of AA are remained only 22
Seats of AA are remained only 21
Seats of AA are remained only 20
Seats of AA are remained only 19
Seats of AA are remained only 18
Seats of AA are remained only 17
Seats of AA are remained only 16
Seats of AA are remained only 15
Seats of AA are remained only 14
Seats of AA are remained only 13
Seats of AA are remained only 12
Seats of AA are remained only 11
Seats of AA are remained only 10
Seats of AA are remained only 9
Seats of AA are remained only 8
Seats of AA are remained only 7
Seats of AA are remained only 6
Seats of AA are remained only 5
Seats of AA are remained only 4
Seats of AA are remained only 3
Seats of AA are remained only 2
Seats of AA are remained only 1
Seats of AA are remained only 0
Seats of A3 are remained only 40
Seats of A3 are remained only 39
Seats of A3 are remained only 38
Seats of A3 are remained only 37
Seats of A3 are remained only 36
Seats of A3 are remained only 35
Seats of A3 are remained only 34
Seats of A3 are remained only 33
Seats of A3 are remained only 32
Seats of A3 are remained only 31
Seats of A3 are remained only 30
Seats of A3 are remained only 29
Seats of A3 are remained only 28
Seats of A3 are remained only 27
Seats of A3 are remained only 26
Seats of A3 are remained only 25
Seats of A3 are remained only 24
Seats of A3 are remained only 23
Seats of A3 are remained only 22
Seats of A3 are remained only 21
Seats of A3 are remained only 20
Seats of A3 are remained only 19
Seats of A4 are remained only 48
Seats of A3 are remained only 18
Seats of A3 are remained only 17
Seats of A3 are remained only 16
Seats of A3 are remained only 15
Seats of A3 are remained only 14
Seats of A3 are remained only 13
Seats of A3 are remained only 12
Seats of A3 are remained only 11
Seats of A8 are remained only 41
Seats of A3 are remained only 10
Seats of A3 are remained only 9
Seats of A4 are remained only 47
Seats of A3 are remained only 8
Seats of A3 are remained only 7
Seats of A3 are remained only 6
Seats of A8 are remained only 40
Seats of A3 are remained only 5
Seats of A8 are remained only 39
Seats of A3 are remained only 4
Seats of A3 are remained only 3
Seats of A3 are remained only 2
Seats of A3 are remained only 1
Seats of A3 are remained only 0
Seats of A8 are remained only 38
Seats of A8 are remained only 37
Seats of A8 are remained only 36
Seats of A8 are remained only 35
Seats of A8 are remained only 34
Seats of A4 are remained only 46
Seats of A8 are remained only 33
Seats of A8 are remained only 32
Seats of A8 are remained only 31
Seats of A8 are remained only 30
Seats of A8 are remained only 29
Seats of A8 are remained only 28
Seats of A8 are remained only 27
Seats of A8 are remained only 26
Seats of A8 are remained only 25
Seats of A8 are remained only 24
Seats of A8 are remained only 23
Seats of A8 are remained only 22
Seats of A8 are remained only 21
Seats of A8 are remained only 20
Seats of A8 are remained only 19
Seats of A8 are remained only 18
Seats of A8 are remained only 17
Seats of A8 are remained only 16
Seats of A8 are remained only 15
Seats of A8 are remained only 14
Seats of A8 are remained only 13
Seats of A8 are remained only 12
Seats of A8 are remained only 11
Seats of A8 are remained only 10
Seats of A8 are remained only 9
Seats of A8 are remained only 8
Seats of A8 are remained only 7
Seats of A8 are remained only 6
Seats of A8 are remained only 5
Seats of A8 are remained only 4
Seats of A8 are remained only 3
Seats of A8 are remained only 2
Seats of A8 are remained only 1
Seats of A8 are remained only 0
Seats of A4 are remained only 45
Seats of A4 are remained only 44
Seats of A4 are remained only 43
Seats of A4 are remained only 42
Seats of A4 are remained only 41
Seats of A1 are remained only 36
Seats of A4 are remained only 40
Seats of A4 are remained only 39
Seats of A4 are remained only 38
Seats of A4 are remained only 37
Seats of A1 are remained only 35
Seats of A4 are remained only 36
Seats of A4 are remained only 35
Seats of A4 are remained only 34
Seats of A4 are remained only 33
Seats of A4 are remained only 32
Seats of A1 are remained only 34
Seats of A4 are remained only 31
Seats of A4 are remained only 30
Seats of A4 are remained only 29
Seats of A4 are remained only 28
Seats of A1 are remained only 33
Seats of A1 are remained only 32
Seats of A4 are remained only 27
Seats of A4 are remained only 26
Seats of A4 are remained only 25
Seats of A4 are remained only 24
Seats of A4 are remained only 23
Seats of A4 are remained only 22
Seats of A4 are remained only 21
Seats of A4 are remained only 20
Seats of A4 are remained only 19
Seats of A4 are remained only 18
Seats of A4 are remained only 17
Seats of A4 are remained only 16
Seats of A4 are remained only 15
Seats of A4 are remained only 14
Seats of A4 are remained only 13
Seats of A4 are remained only 12
Seats of A4 are remained only 11
Seats of A4 are remained only 10
Seats of A4 are remained only 9
Seats of A4 are remained only 8
Seats of A4 are remained only 7
Seats of A4 are remained only 6
Seats of A4 are remained only 5
Seats of A4 are remained only 4
Seats of A4 are remained only 3
Seats of A4 are remained only 2
Seats of A4 are remained only 1
Seats of A4 are remained only 0
Seats of A1 are remained only 31
Seats of A1 are remained only 30
Seats of A1 are remained only 29
Seats of A1 are remained only 28
Seats of A1 are remained only 27
Seats of A1 are remained only 26
Seats of A1 are remained only 25
Seats of A1 are remained only 24
Seats of A1 are remained only 23
Seats of A1 are remained only 22
Seats of A1 are remained only 21
Seats of A1 are remained only 20
Seats of A1 are remained only 19
Seats of A1 are remained only 18
Seats of A1 are remained only 17
Seats of A1 are remained only 16
Seats of A1 are remained only 15
Seats of A1 are remained only 14
Seats of A1 are remained only 13
Seats of A1 are remained only 12
Seats of A1 are remained only 11
Seats of A1 are remained only 10
Seats of A1 are remained only 9
Seats of A1 are remained only 8
Seats of A1 are remained only 7

In [403]:
# Schema
# filled || start cgpa || end cgpa || start pbi || end pbi || end id || seatsdf
details

{'A1': [30, 6.76, 6.14, 250, 167, 1512.0, 37],
 'A3': [41, 7.41, 7.08, 274, 262, 746.0, 41],
 'A4': [50, 8.08, 6.16, 299, 228, 1016.0, 50],
 'A7': [83, 9.35, 7.89, 346, 292, 878.0, 83],
 'A8': [42, 7.16, 6.81, 265, 252, 1472.0, 42],
 'AA': [44, 7.89, 7.49, 292, 277, 789.0, 44]}

In [404]:
# put it into loop if schema is finalized
for i in range(7):
    for j in range(5):
        if(df.iat[4+i,12] ==df.iat[4+i,12]):
            df['Unnamed: '+ str(14+j)][4+i] = details[df.iat[4+i,12]][j]

/home/keshav/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [405]:
df

,Sr. no,id No,N. CGPA,PBI,PR1,PR2,PR3,PR4,PR5,PR6,allotment,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,1,793.0,9.35,346,A7,AA,A3,A8,A4,A1,A7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,978.0,9.19,340,A7,AA,A3,A8,A1,A4,A7,NaN,Academic Year 2020-2021 BITS Pilani,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1055.0,9.16,339,A7,AA,A3,A8,A4,A1,A7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,982.0,9.16,339,A7,AA,A3,A8,A4,A1,A7,NaN,Prog.,Seat for DD-I,Filled,start CGPA,End CGPA,Start PBI,End PBI
4,5,688.0,9.14,338,A7,AA,A3,A8,A4,A1,A7,NaN,A1,37,30,6.76,6.14,250,167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,286,679.0,5.46,202,A7,AA,A3,A8,A4,A1,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286,287,1260.0,5.74,201,A7,AA,A3,A8,A4,A1,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287,288,1373.0,5.19,192,AA,A8,A3,A4,A1,A7,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,289,NaN,4.81,178,A7,A3,AA,A8,A4,A1,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,290,1512.0,6.14,167,A7,AA,A3,A8,A4,A1,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [406]:
df.to_csv('allotment_final.csv', encoding='utf-8', index=False)